@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*
    #DB0D00 danger --- #00DB57 success
    #AC00DB roxo --- #89DB00 verde
    ##bb01ee roxo claro 
    
*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC00DB;
}

.nav ul.topnav li {float: left;}

.nav ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.nav ul.topnav li a:hover:not(.active) {background-color: #bb01ee;}
.nav ul.topnav li a.active {
    color: black;
    background-color: #89DB00;}
.nav ul.topnav li.right {float: right;}

#backTop {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background: #89DB00;
    color: black;
    height: 1rem;
    text-align: center;
    cursor: pointer;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 3rem;
}

.container {
    display: grid;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    grid-gap: 10px;
    padding: 1rem;
    position: relative;
    animation-name: example;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.overflow{
    overflow-x:auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    position: relative;
    animation-name: example;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

@keyframes example {
    from {top: 0px;}
    to {top: 100px;}
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-footer {
    display: grid;
    justify-content: center;
    padding: 1rem 1rem;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #89DB00;
    color: white;
}

.btn {
    border: none;
    color: black;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

.btn-danger  {
    color: white;
    background-color: #DB0D00;
}

.btn-success  {
    color: white;
    background-color: #00DB57;
}

input[type=text], select, textarea {
    width: 130px;
    padding: 12px;
    border: 1px solid #ccc;
    max-height: 15px;
    border-radius: 4px;
    resize: vertical;
}
input[type=date] {
    width: 130px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 15px;
    resize: none;
}

.tecla {
    float: left;
    width: 36px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top: 5px;
    cursor: pointer;
}

.tecla0 {
    width: 74px;
}

.clear {
    clear: both;
}

#display {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .nav ul.topnav {width: 100%;}
    .nav ul.topnav li.right, 
    .nav ul.topnav li {float: none; border-top: 1px solid rgb(46, 46, 46);}
    #backTop {padding: 0.35rem;}
}